<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://wallpapercave.com/wp/wp7732979.jpg" alt="" srcset="" />
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        laudantium, nisi quisquam architecto laborum voluptates quas sed alias
        cumque neque expedita maiores deserunt cum debitis aliquam! Impedit
        fugiat itaque doloremque?</a
      >
    </p>
  </div>
</div>
