.container-menu-title > h1 {
  color: white;
  margin: 1rem 0;
  font-size: 135px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.container-menu-title > hr {
  margin: 1rem 0;
}
