<body>
  <app-menu-title></app-menu-title>

  <div class="container-articles">
    <div class="articles-main">
      <app-big-card
        id="1"
        photoCover="https://th.bing.com/th/id/OIG.M09LiUVesYX2kY4EVfOR?pid=ImgGn"
        cardTitle="Titulo do card principal"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laudantium, nisi quisquam architecto laborum voluptates quas sed alias cumque neque expedita maiores deserunt cum debitis aliquam! Impedit fugiat itaque doloremque?"
      ></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card
        id="2"
        photoCover="https://th.bing.com/th/id/OIG._YqXgYGnxNvwqFhU30uL?pid=ImgGn"
        cardTitle="Titulo Card 1"
      ></app-small-card>
      <app-small-card
        id="3"
        photoCover="https://th.bing.com/th/id/OIG.d4hiCOanZrllAcTJFJ2N?pid=ImgGn"
        cardTitle="Titulo Card 2"
      ></app-small-card>
      <app-small-card
        id="4"
        photoCover="https://th.bing.com/th/id/OIG.oWJAC48g2ZXfbsGdAq0H?pid=ImgGn"
        cardTitle="Titulo Card 3"
      ></app-small-card>
    </div>
  </div>
  <div class="container-body-separator">
    <hr />
  </div>
</body>
